*{
    margin: 0;
    padding: 0;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    
}
.parentDiv{
    margin: 0px auto;
    align-self: center;
    justify-self: center;
    width: 70%;
    margin-top: 10%;
    height: 500px;
    background-color: lightslategray ;
}
.childDiv{
    width: 20%;
    height: 20%;
    background-color: black;
    /* top: 80%; */
}
.b1{
    position: absolute;
    top: -4%;
    left: 15%;
}
.b2{
    position: absolute;
    top: -4%;
    left: 73%;
}
.b3{
    position: absolute;
    left: 15%;
    top: 100%;
}
.b4{
    position: absolute;
    left: 76%;
    top: 100%;
}
